# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
ENV/

# Temporary files and directories
.temp/
.cache/
*.log

# MyPy type checker
.mypy_cache/

# Pyre type checker
.pyre/

# PyCharm / JetBrains IDE settings (optional, include only if needed)
.idea/
